{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atithi Management System</title>
    <link rel="stylesheet" href="{% static 'AtithiApp/css/splash.css' %}">
    <link rel="stylesheet" href="{% static 'AtithiApp/css/dashboard.css' %}">
    <script src="https://kit.fontawesome.com/57d8462694.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2 onclick="home()"> {{ currentUser.first_name }}</h2>
        <ul class="mainmenu">

            <li><a href="{% url 'AtithiApp:dashboard' %}"> <i class="fas fa-chart-line"></i> Dashboard </a>
                <ul class="submenu">

                </ul>
            </li>

            <li><a href="{% url 'AtithiApp:departures' %}"> <i class="fas fa-plane-departure"></i> Departures </a>
                <ul class="submenu">

                </ul>
            </li>

            <li><a href="{% url 'AtithiApp:inhouse' %}"> <i class="fas fa-home"></i> In House </a>
                <ul class="submenu">

                </ul>
            </li>

            <li><a href="{% url 'AtithiApp:paststay' %}"> <i class="fas fa-plane-arrival"></i> Arrivals </a>
                <ul class="submenu">

                </ul>
            </li>

            {% if currentUser.is_superuser %}
                <li><a href="#"> <i class="fas fa-user-cog"></i> Admin </a>
                    <ul class="submenu">

                    </ul>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'AtithiApp:logout' %}"> <i class="fas fa-door-open"></i> Logout </a> </li>
            {% endif %}
        </ul>
    </div>
</div>
<script src="{% static 'AtithiApp/js/viewList.js' %}"></script>
</body>
</html>